body {
 color: #33ffd3; 
text-align: center;
margin: auto;
max-width: 700px
}

img {
 display: block;
 margin: auto;
}


h1, h2, h3 
  color:#0c6653;
  background-color:#33ffd3;
  text-align: center;
}
   
nav {
    Width

